<ion-header>
	<ion-navbar color ="primary-dark">
		<ion-title>
			{{ teamProfile?.teamName }}
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>

	<h4>Привет, {{ teamProfile?.adminName }},</h4>

	<p>
		вы администратор команды <span>{{ teamProfile?.teamName }}</span> и можете управлять её составом.
	</p>

	<button ion-button block color="accent" (click)="inviteTeamMember()">
		Пригласить участника
	</button>

	<ion-list *ngIf="pendingInvitationList">
		<ion-list-header>
			Исходящие приглашения
		</ion-list-header>
		<ion-item *ngFor="let invite of pendingInvitationList">
			{{ invite.fullName }} ({{ invite.email }})
		</ion-item>
	</ion-list>

	<ion-list *ngIf="pendingRequestList">
		<ion-list-header>
			Исходящие запросы
		</ion-list-header>
		<button ion-item *ngFor="let request of pendingRequestList" 
			(click)="acceptTeamMember(request.userId, request.inviteId, request.fullName)">
			{{ request.fullName }} - {{ request.email }}
		</button>
	</ion-list>

	<ion-list *ngIf="teamProfile">
		<ion-list-header>
			Члены команды
		</ion-list-header>
		<ion-item *ngFor="let member of teamProfile?.teamMembers | objectToArray">
			{{ member.fullName }}
		</ion-item>
	</ion-list>

</ion-content>