page-reset-password {
  ion-content { 
    background-color: #74A9D2 !important;

    ion-item {
      margin: 10px 0 !important;
    }

    button[type="submit"] {
      margin-top: 30px !important;
    }
  }
}