<ion-header>
	<ion-navbar color="primary-dark">
		<ion-title>Новая задача</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<form [formGroup]="createTaskForm" (submit)="createTask()" novalidate>
		<ion-item>
			<ion-label stacked>Название</ion-label>
			<ion-input formControlName="taskName" type="text" placeholder="Как называется задача?"
				[class.invalid]="!createTaskForm.controls.taskName.valid && createTaskForm.controls.taskName.dirty">
			</ion-input>
		</ion-item>

		<ion-item class="error-message" 
			*ngIf="!createTaskForm.controls.taskName.valid	&& createTaskForm.controls.taskName.dirty">
			<p>Необходимо ввести название</p>
		</ion-item>

		<ion-list>
			<ion-item>
				<ion-label>Назначить:</ion-label>
				<ion-select [(ngModel)]="teamMemberModel" formControlName="teamMember">
					<ion-option *ngFor="let member of memberList" [value]="member.memberId">
						{{ member.fullName }}
					</ion-option>
				</ion-select>
			</ion-item>
		</ion-list>

		<button ion-button block type="submit" color="accent"
			[disabled]="!createTaskForm.valid">
			Создать
		</button>
	</form>
</ion-content>